@import '../../styles/_variables.scss';
.Character {
  &-wrapper {
    border: 1px solid $SFMGrey-2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 10px;
    transition: 0.2s all;

    &:hover{
      transform: scale(1.02);
    }
    &-image-wrapper {
      width: 100%;
      overflow: hidden;
      height: 236px;
      background: $SFMBlack;
      &-image {
        min-width: 100%;
        height: 100%;
      }
    }
    &-name {
      text-align: center;
      padding: 5px;
      background: $SFMGrey-2;
      color: $SFMGrey-5;
      font-size: 12px;
      font-weight: bold;
    }
    &-description {
      background: $SFMGrey-1;
      font-size: 12px;
      padding: 10px;
      color: $SFMGrey-3;
      &.not-available {
        color: $SFMRed;
        text-align: center;
      }
    }
  }
}
