// SoftPlan Marvel colors
$SFMRed: #e8554e;

$SFMGrey-1: #222222;
$SFMGrey-2: #666666;
$SFMGrey-3: #CECECE;
$SFMGrey-4: #EFEFEF;
$SFMGrey-5: #333333;

$SFMBlack: #000000;

$SFMWhite: #ffffff;

$break-point-phone: 667px;
$break-point-tablet: 767px;
$break-point-desktop: 1510px;