@import './_variables.scss';
.Form {
  .Form-field {
    margin-bottom: 10px;
    label {
      display: block;
      margin-bottom: 3px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 11px;
    }
    input,
    textarea {
      border-radius: 5px;
      width: 99%;
      line-height: 20px;
      border: 1px solid $SFMGrey-4;
    }

    textarea {
      height: 100px;
    }
  }
}
