@import '../../styles/_variables.scss';

.ChooseCharacter {
  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #cecece;
    &-item {
      width: 100%;
      
      .Character {
        flex-basis: 100%;
      }
    }
  }
}

@media screen and(min-width: $break-point-phone){
  .ChooseCharacter {
    &-list {
      &-item {
        width: 50%;
        
        .Character {
          flex-basis: 50%;
        }
      }
    }
  }
}

@media screen and(min-width: $break-point-tablet){
  .ChooseCharacter {
    &-list {
      &-item {
        width: 25%;
        
        .Character {
          flex-basis: 25%;
        }
      }
    }
  }
}